body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: black;
}
#game {
    position: relative;
}
canvas {
    /* border: 2px solid blue; */
}
#my-video {
    z-index: 2;
    position: absolute;
    left:0;
    top:0;
}
.display-none {
    display: none !important;
}
.display-block {
    display: block;
}
.video-js {
    width: 100%;
    height: 100%;
}